$color1:#334155;
$color2:#4A6572;
$color3:#7BA0A6;
$color4:#ef4444;
$color5:#fbbf24;
$color6:#34d399;
$color7:#059669;
$color8:#14b8a6;
$color9:#06b6d4;
$color10:#3b82f6;
$color11:#4f46e5;
$color12:#8b5cf6;
$color13:#c026d3;
$color14:#ec4899;
$color15:#1e1b4b;